<!DOCTYPE html>
<html lang="en">
{% include "./partial/header.twig" with {
    "title": "Quản lý người dùng",
    "css" : 
        [
            "/css/style.css",
            "/css/table.css",
            "https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css",
        ],
} %}
<body>
{% include "./partial/nav.twig" with {"user": user, "active": 7} %}

<div class="container mb-5">
        <div>
            <h1 class="text-center header">Tài khoản người dùng</h1>
        </div>

        <table id="userTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center" style="width: 10px">STT</th>
                    <th class="text-center" style="width: 100px">Username</th>
                    <th class="text-center" style="width: 130px">Số điện thoại</th>
                    <th class="text-center" style="width: 130px">CCCD</th>
                    <th class="text-center" style="width: 170px">Địa chỉ</th>
                    <th class="text-center">Ngày tạo</th>
                    <th class="text-center">Ngày cập nhật</th>
                </tr>
            </thead>
            {% for userInfor in users %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ userInfor.username }}</td>
                    <td class="text-center">{{ userInfor.phone }}
                    </td>
                    <td class="text-center">{{ userInfor.CCCD }}
                    </td>
                    <td class="text-center">{{ userInfor.address }}</td>
                    <td class="text-center">{{ userInfor.created_at }}</td>
                    <td class="text-center">{{ userInfor.updated_at }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
 {% include "./partial/footer.twig" %}   
</body>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function () {
             $('#userTable').DataTable();
        });
    </script>
</html>